<div class="container-fluid">
    <img src="../static/img/blog.jpg" class='ladyblog'>
</div>
<div class="wrapper">
  
    <h3 class='blogheading'>
      The Best Blog
    </h3>
    <div class="expandable">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec ante et nunc eleifend porttitor ac at leo. Cras ultrices ante augue, ac dapibus elit tincidunt vitae. Mauris sollicitudin ... <a href="https://aviiii.medium.com/the-fears-of-computer-science-eb09b23e3511" target="_blank">Read More</a>
      </p>
      </div>
      <h3 class='blogheading'>
        The Best Blog
      </h3>
      <div class="expandable">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec ante et nunc eleifend porttitor ac at leo. Cras ultrices ante augue, ac dapibus elit tincidunt vitae. Mauris sollicitudin ... <a href="https://aviiii.medium.com/the-fears-of-computer-science-eb09b23e3511" target="_blank">Read More</a>
      </p>
      </div>
      <h3 class='blogheading'>
        The Best Blog
      </h3>
      <div class="expandable">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec ante et nunc eleifend porttitor ac at leo. Cras ultrices ante augue, ac dapibus elit tincidunt vitae. Mauris sollicitudin ... <a href="https://aviiii.medium.com/the-fears-of-computer-science-eb09b23e3511" target="_blank">Read More</a>
      </p>
     
    </div>
  </div>