<div class="container-fluid">
  <img src="../static/img/contact.png" class="contact" />
  <form class="contactform">
    <div class="row">
        <div class="col-md-3">
            <div class="md-form mb-0">
      <input
        type="text"
        placeholder="first name"
        id="fname"
        class="form-control no-border"
      />

      </div>
      </div>
      
      <div class="col-md-3">
        <div class="md-form mb-0">
            </div>
     

      <input
        type="text"
        placeholder="last name"
        id="lname"
        class="form-control no-border"
      />
    </div>
</div>
<div class="row">
      <div class="col-md-6">
        <div class="md-form mb-0">
      <input
        type="email"
        placeholder="e-mail"
        id="email"
        class="form-control no-border"
      />
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-6">
        <div class="md-form">
      <input
        type="text"
        placeholder="message"
        id="msg"
        class="form-control no-border"
      />
      </div>  
    </div>  
</div>
      <button type="submit" class="btn btn-default btn-lg">Send</button>
    

  </form>
</div>
