<div class="container-fluid navbarmain1">
<nav class="navbar navbar-expand-lg navbar-light bg-transparent navbarmain2">
     <a class="navbar-brand ps-4" href="/">
       <span class='brand'>AJ</span>
     </a>
     <div
       class="collapse justify-content-end navbar-collapse"
       id="navbarNav"
     >
       <ul class="navbar-nav">
         <li class="nav-item ms-4">
           <a class="nav-link active text-white" aria-current="page" href="/"
             ><h3>Home</h3></a
           >
         </li>
         <li class="nav-item ms-4">
           <a class="nav-link text-white" href="/#blogs"><h3>Blogs</h3></a>
         </li>
         <li class="nav-item ms-4">
           <a class="nav-link text-white" href="/#projects"
             ><h3>Projects</h3></a
           >
         </li>
         <li class="nav-item ms-4">
          <a class="nav-link text-white" href="/login"
            ><h3>Login</h3></a
          >
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link text-white" href="/register"
            ><h3>Register</h3></a
          >
        </li>
         <!-- <li class="nav-item ms-4">
           <a class="nav-link text-white" href="/#contact"><h3>Contact Me</h3></a>
         </li> -->
       </ul>
     </div>
   
 </nav>
</div>